@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #000;
	margin: 0;
	padding: 0;
	color: #000;
	/*background-image:url(earth_back.jpg);*/
    background: #FFF;
    /*background-repeat: no-repeat;
    background-attachment: fixed;*/
    overflow-y: scroll; /* force y-scrollbar to show */
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	width: 900px;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 50px;
}

header {
	/*background-color: rgba(153,153,153,0.5);*/
	text-align:center;
	padding-top:30px;
}

.sidebar1 {
	float: left;
	width: 140px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 40px;
}
.content {
    margin-top: 40px;
	padding: 10px 0;
	width: 740px;
	float: left;
}

.topbar {
	height: 160px;
	background-color: #0099FF;
	padding-bottom: 0px;
	text-align: center;
}



.content ul, .content ol {
	padding: 0 15px 15px 40px;
}

ul.nav {
	list-style: none;
	text-align:right;
	padding:0;
	margin:0;
	background-color: #FFFFFF;
}
ul.nav li {
	display: block;
	line-height: 40px;
	height: 40px;
	/*font-size: 1em;*/
	font-weight: bold;
	border-bottom: none;
	width: 130px;
	text-align: right;
}
ul.nav a, ul.nav a:visited {
	display: block;
	text-decoration: none;
	/*background-color: #FFFFFF;*/
	padding-left: 10px;
	padding-right: 10px;
}
ul.nav a:hover, /*ul.nav a:active, */ul.nav a:focus {
	background-color: #FF6600;
	color: #FFF;
}
ul.nav a:active {
	background-color: #FF6600;
	color: #FFF;
    cursor: default;
}

footer {
	padding: 10px 0;
	background-color: #FFFFFF;
	position: relative;
	clear: both;
	height:22px;
	border-top:solid thin;
	border-bottom:solid thin;
	border-color:#999;
	
}

header, section, footer, aside, article, figure {
	display: block;
}


/***********   Current Page Menu   **********/
.home a.home,
.research a.research,
.group a.group,
.publications a.publications {
	/*background-color: #FF6600;*/
	color: #FF6600;
}

/***********   Publications   **********/

pub-list {
  font-size: 0.9em;
  margin-left: 15px;
  width: 100%;
}

.pub-year {
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
  background: #FFF;
  padding-left: 15px;
  border-bottom: 2px solid #FF6600;
  clear: both;
}

.pub-title {
  padding: 5px 5px 5px 15px;
  max-width:  605px;
  width: 605px;
  clear: both;
  float: left;
}

.pub-title author {
  font-weight: bold;
}

.pub-link-text {
  font-size: 0.7em;
  padding: 0 0px;
}

.pub-link {
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: top;
  padding: 5px 0px 5px 5px;
  float: left;
  max-width: 95px;
  
}

.pub-link a, .pub-link a:visited {
  text-decoration: none;
  color: #FF6600;
}

.pub-link a:hover, .pub-link a:active, .pub-link a:focus {
    color: #000;
}

.pub-cat {
  font-size: 1.0em;
  font-weight: bold;
  border-bottom: 1px solid;
  clear: both;
}

.group-link {
  font-size: 0.9em;
}

ul.nav-pub {
	list-style: none;
}
ul.nav-pub li {
	font-size: 0.9em;
	font-weight: bold;
	width: 130px;
	text-align: right;
}
ul.nav-pub a, ul.nav-pub a:visited {
	text-decoration: none;
    color: #FF6600;
	padding-left: 10px;
	padding-right: 10px;
}
ul.nav-pub a:hover, ul.nav-pub a:active, ul.nav-pub a:focus {
    color: #000;
}

/***********   Tables   **********/
.group-table {
  display:table;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  margin-left: 5px;
}

.table-row {
  display: table-row;
}

.col-title {
  display: table-cell;
  border-top: 1px solid #FF6600;
  border-bottom: 1px solid #FF6600;  
  vertical-align: top;
  padding: 0 5px;
  max-width: 140px;
}

.col-title a, .col-title a:visited {
  color: #FF6600;
}

.col-title a:hover, .col-title a:active, .col-title a:focus {
    color: #000;
}

.col-img {
  display: table-cell;
  padding-left: 10px;
}

.col-place {
  display: table-cell;
  border-top: 1px solid #FF6600;
  border-bottom: 1px solid #FF6600;
  vertical-align: top;
  padding: 0 5px;
  max-width: 240px;
}

.col-name {
  display: table-cell;
  border-top: 1px solid #FF6600;
  border-bottom: 1px solid #FF6600;  
  text-align: left;
  vertical-align: top;
  padding: 0 5px;
}

.col-name a, .col-name a:visited {
  color: #000;
}

.col-name a:hover, .col-name a:active, .col-name a:focus {
    color: #FF6600;
}

ERR {
  color: firebrick;
  font-weight: bold;
}

